<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Videollamadas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	 crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../../assets/css/mycss/style.css">
	<link rel="stylesheet" href="../../assets/css/mycss/examenes.css">

</head>

<body>
	<div class="navbar">
		<div class="btn-sidebar">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<p id="titulo-contenedor">Modo</p>
	</div>

	<div id="sidebar" class="sidebar">
		<div class="sidebar-head">
			<img src="../../assets/img/user.png" alt="">
			<p class="sidebar-user-name">Cachimbo</p>
			<p class="sidebar-user-email">cachimbo@gmail.com</p>
		</div>

		<div class="sidebar-body">
			<div class="list-group">
				<div class="item-sidebar menu-examenes">
					<img src="../../assets/img/test.png" alt="">
					<span class="title-course">Exámenes</span>
				</div>
				<div class="item-sidebar menu-ranking">
					<img src="../../assets/img/rankingmenu.png" alt="">
					<span class="title-course">Ranking</span>
				</div>
				<div class="item-sidebar menu-tutorias">
					<img src="../../assets/img/teacher.png" alt="">
					<span class="title-course">Tutorias</span>
				</div>
				<div class="item-sidebar menu-video">
					<img src="../../assets/img/video-player.png" alt="">
					<span class="title-course">Video tutoriales</span>
				</div>
				<div class="item-sidebar menu-nosotros">
					<img src="../../assets/img/video-player.png" alt="">
					<span class="title-course">Nosotros</span>
				</div>
				<div class="item-sidebar item-salir menu-cerrar">
					<img src="../../assets/img/logout.png" alt="">
					<span class="title-course">Cerrar sesión</span>
				</div>
			</div>
		</div>
	</div>

	<div class="info-tutor contenedor">
		<div class="data-tutor">
			<img src="../../assets/img/tutores/1.png" alt="">
			<div class="description-tutor">
				<span class="title-option">Ricardo balvin</span>
				<p>142 preguntas solucionadas</p>
				<p>14 alumnos</p>

				<img class="" src="../../assets/img/checked.png" alt="">
				<span>tutor verificado</span>
			</div>
		</div>
		<div class="social-icon">
			<ul>
				<li>
					<a href="#">
						<img src="../../assets/img/facebook.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../assets/img/google-plus.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../assets/img/twitter.png" alt="">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../assets/img/linkedin.png" alt="">
					</a>
				</li>
			</ul>
		</div>
		<hr>
		<div class="solution-question">
			<div id="accordion" role="tablist">
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h6 class="mb-0">
							<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								UNMSM 2017-2 AREA C-E
							</a>
						</h6>
					</div>

					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<table class="table">
								<tbody>
									<tr>
										<th scope="row" class="" data-toggle="modal" data-target="#exampleModalLong">Pregunta N°98</th>
										<td>
											<img src="../../assets/img/like-yes.png" alt=""> (24)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (5)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°96</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°90</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°85</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°84</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°83</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°63</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
									<tr>
										<th scope="row">Pregunta N°61</th>
										<td>
											<img src="../../assets/img/like-no.png" alt=""> (15)</td>
										<td>
											<img src="../../assets/img/chat-no.png" alt=""> (2)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingTwo">
						<h6 class="mb-0">
							<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								UNMSM 2012-1 AREA C-E
							</a>
						</h6>
					</div>
					<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingThree">
						<h6 class="mb-0">
							<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								UNFV 2016-2 GENERAL
							</a>
						</h6>
					</div>
					<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
						<div class="card-body">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ranking-lista-body">
		<div class="header-videotutorial">
			<input class="form-control" type="search" placeholder="Buscar tutor" aria-label="Search">
			<button class="btn btn-outline-success" type="button">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</div>

		<div id="tutor-ricardo" class="item-rank">
			<img src="../../assets/img/tutores/1.png" alt="">
			<img class="rank-medal" src="../../assets/img/gold-medal.png" alt="">
			<div class="title-item">
				<span class="title-option">Ricardo balvin</span>
				<p>142 preguntas solucionadas</p>
				<p>14 alumnos</p>
			</div>
			<img class="tutor-verified" src="../../assets/img/checked.png" alt="">
		</div>
		<div class="item-rank examen-option">
			<img src="../../assets/img/tutores/2.jpg" alt="">
			<img class="rank-medal" src="../../assets/img/silver-medal.png" alt="">
			<div class="title-item">
				<span class="title-option">Karina mandarina</span>
				<p>115 preguntas solucionadas</p>
				<p>16 alumnos</p>
			</div>
			<img class="tutor-verified" src="../../assets/img/checked.png" alt="">
		</div>
		<div class="item-rank examen-option">
			<img src="../../assets/img/tutores/3.jpg" alt="">
			<img class="rank-medal" src="../../assets/img/bronze-medal.png" alt="">
			<div class="title-item">
				<span class="title-option">israel acevedo</span>
				<p>102 preguntas solucionadas</p>
				<p>15 alumnos</p>
			</div>
		</div>
		<div class="item-rank examen-option">
			<img src="../../assets/img/tutores/4.png" alt="">
			<img class="rank-medal" src="../../assets/img/other-medal.png" alt="">
			<div class="title-item">
				<span class="title-option">renato puerta</span>
				<p>100 preguntas solucionadas</p>
				<p>10 alumnos</p>
			</div>
			<img class="tutor-verified" src="../../assets/img/checked.png" alt="">
		</div>
		<div class="item-rank examen-option">
			<img src="../../assets/img/tutores/5.jpg" alt="">
			<img class="rank-medal" src="../../assets/img/other-medal.png">
			<div class="title-item">
				<span class="title-option">nolo contrato nica</span>
				<p>85 preguntas solucionadas</p>
				<p>10 alumnos</p>
			</div>
		</div>
		<div class="item-rank examen-option">
			<img src="../../assets/img/tutores/6.png" alt="">
			<img class="rank-medal" src="../../assets/img/other-medal.png">
			<div class="title-item">
				<span class="title-option">elamor de mivida</span>
				<p>100 preguntas solucionadas</p>
				<p>8 alumnos</p>
			</div>
		</div>
		<div class="item-rank examen-option">
			<img src="../../assets/img/tutores/7.jpg" alt="">
			<img class="rank-medal" src="../../assets/img/other-medal.png">
			<div class="title-item">
				<span class="title-option">ellada miedo</span>
				<p>78 preguntas solucionadas</p>
				<p>8 alumnos</p>
			</div>
			<img class="tutor-verified" src="../../assets/img/checked.png" alt="">
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Pregunta 98 - UNMSM 2017-2 C-E</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="../../assets/img/tutores/pregunta98.PNG" alt="">
					<img src="../../assets/img/tutores/respuesta98.PNG" alt="">
				</div>
				<div class="modal-footer">
					<div class="like col-4">
						<img src="../../assets/img/like.png" alt=""> gusta
					</div>
					<div class="comment col-4">
						<img src="../../assets/img/chat.png" alt=""> comentar
					</div>
					<div class="report col-4">
						<img src="../../assets/img/flag.png" alt=""> reportar
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script src="../../assets/js/dynamic.js"></script>
</body>

</html>