<!DOCTYPE html>
<html>
 <head>
     
    <meta charset="UTF-8">
    <title>Videollamadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mycss/style.css">
    <link rel="stylesheet" href="../../css/mycss/examenes.css">
 </head>
  <body>
  <div class="navbar">
        <div class="btn-temas"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Algebra</span>
        </div>
    </div>
    
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/1nmlpW5uHB4" frameborder="0" allowfullscreen></iframe>
  
  <div class="titulo-video">
   	<h5>
   		Introducción al Álgebra, Expresiones Algebraicas y Partes de un Monomio
   	</h5>
    	
    	
    	<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem molestiae fuga iste voluptate, maxime quo fugiat voluptatum quas delectus hic nisi voluptatibus officia velit atque ducimus alias, tempore commodi similique.
			
		Unde vitae similique laudantium cum nihil, aspernatur illo distinctio maxime aut error, quidem totam! Voluptate, assumenda beatae fugit culpa illo facere quas. Harum eligendi error consectetur eius obcaecati molestiae nemo.</div>
    </div>
  
  <div class="modal-footer">
					<div class="like col-4">
						<img src="../../img/like.png" alt=""> gusta
					</div>
					<div class="comment col-4">
						<img src="../../img/chat.png" alt=""> comentar
					</div>
					<div class="report col-4">
						<img src="../../img/flag.png" alt=""> reportar
					</div>
				</div>
   
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/bootstrap/popper.min.js"></script>
        <script src="../../js/bootstrap/bootstrap.min.js"></script>
        <script src="../../js/dynamic.js"></script>
  </body>
</html>