<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videollamadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mycss/style.css">
    <link rel="stylesheet" href="../../css/mycss/examenes.css">
    
</head>

<body>
    <div class="navbar">
        <div class="btn-cursos"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Algebra</span>
        </div>
    </div>
    
    <div class="header-videotutorial">
      <input class="form-control" type="search" placeholder="Buscar tema" aria-label="Search">
      <button class="btn btn-outline-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

    <div  class="temas-curso">
       <ul>
       	<li class="tema-1">Introducción al Álgebra, Expresiones Algebraicas y Partes de un Monomio</li>
       	<li class="tema-2">Ejercicios sobre Clasificación de Expresiones Algebraicas</li>
       	<li>Ecuaciones e Inecuaciones</li>
       	<li>Funciones</li>
       	<li>Funciones: Nociones Basicas</li>
       	<li>Funciones polinomilaes</li>
       	<li>Funciones exponenciales y logaritmicas</li>
       	<li>Geometría analítica</li>
       	<li>Introduccion a la programacion lineal</li>
       	<li>Logaritmos</li>
       	<li>Lógica</li>
       	<li>Matrices y determinantes</li>
       	<li>Numeros complejos</li>
       	<li>Numeros reales</li>
       	<li>Polinomios</li>
       	<li>Productos notables</li>
       	<li>Sistema de ecuaciones lineales</li>
       	<li>Sistema de ecuaciones e inecuaciones</li>
       </ul>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap/popper.min.js"></script>
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/dynamic.js"></script>
</body>
</html>