<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videollamadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mycss/style.css">
    <link rel="stylesheet" href="../../css/mycss/examenes.css">
</head>

<body>
    <div class="navbar">
        <div class="btn-volver"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Tutoriales</span>
        </div>
    </div>
    
    <div class="header-videotutorial">
      <input class="form-control" type="search" placeholder="Buscar curso" aria-label="Search">
      <button class="btn btn-outline-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

    <div id="xd" class="video-options">
        <div id="1" class="item-course">
            <img src="../../img/curso-algebra.png" alt="">
            <span class="title-course">Algebra</span>
        </div>
        <div id="2" class="item-course">
            <img src="../../img/curso-aritm.png" alt="">
            <span class="title-course">Aritmética</span>
        </div>
        <div id="3" class="item-course">
            <img src="../../img/curso-econom.png" alt="">
            <span class="title-course">Economía</span>
        </div>
        <div id="4" class="item-course">
            <img src="../../img/curso-fisica.png" alt="">
            <span class="title-course">Física</span>
        </div>
        <div id="5" class="item-course">
            <img src="../../img/curso-raz.png" alt="">
            <span class="title-course">Raz. Matemático</span>
        </div>
        <div id="6" class="item-course">
            <img src="../../img/curso-quimica.png" alt="">
            <span class="title-course">Química</span>
        </div>
        <div id="7" class="item-course">
            <img src="../../img/curso-lenguge.png" alt="">
            <span class="title-course">Lenguaje</span>
        </div>
        <div id="8" class="item-course">
            <img src="../../img/curso-literat.png" alt="">
            <span class="title-course">Literatura</span>
        </div>
    </div>
    
    <div id="snackbar"></div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap/popper.min.js"></script>
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/dynamic.js"></script>
</body>
</html>