<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../assets/css/mycss/style.css">
  <link rel="stylesheet" href="../assets/css/mycss/examenes.css">

  <title>Document</title>
</head>

<body>
  <div class="navbar">
    <div class="btn-sidebar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>

  <div id="sidebar" class="sidebar">
    <div class="sidebar-head">
      <img src="../assets/img/User.png" alt="">
      <p class="sidebar-use-name">Mia Khalifa</p>
      <p>mia_khalifa@hotmail.com</p>
    </div>

    <div class="sidebar-body">
      <div class="list-group">
        <div class="item-sidebar">
          <img src="../assets/img/test.png" alt="">
          <span class="title-course">Exàmenes</span>
        </div>
        <div class="item-sidebar">
          <img src="../assets/img/rankingmenu.png" alt="">
          <span class="title-course">Ranking</span>
        </div>
        <div class="item-sidebar">
          <img src="../assets/img/teacher.png" alt="">
          <span class="title-course">Tutorias</span>
        </div>
        <div class="item-sidebar">
          <img src="../assets/img/video-player.png" alt="">
          <span class="title-course">Video tutoriales</span>
        </div>
        <div class="item-sidebar">

        </div>
        <div class="item-sidebar">
          <img src="../assets/img/logout.png" alt="">
          <span class="title-course">Cerrar sesión</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-examenes">
    <p>Seleccionar examen:</p>

    <form>

      <div class="item-examenes">
        <input type="radio" id="examen" name="examen" value="">
        <label class="examen" for="examen">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen2" name="examen" value="">
        <label class="examen" for="examen2">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen3" name="examen" value="">
        <label class="examen" for="examen3">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen4" name="examen" value="">
        <label class="examen" for="examen4">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen5" name="examen" value="">
        <label class="examen" for="examen5">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen6" name="examen" value="">
        <label class="examen" for="examen6">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen7" name="examen" value="">
        <label class="examen" for="examen7">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen8" name="examen" value="">
        <label class="examen" for="examen8">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen9" name="examen" value="">
        <label class="examen" for="examen9">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen10" name="examen" value="">
        <label class="examen" for="examen10">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen11" name="examen" value="">
        <label class="examen" for="examen11">UNMSM 2017 - I</label>
      </div>
      <div class="item-examenes">
        <input type="radio" id="examen12" name="examen" value="">
        <label class="examen" for="examen12">UNMSM 2017 - I</label>
      </div>


    </form>
    <button class="btn-empezar-exam" id="empezarExamen">Empezar examen</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="../assets/js/dynamic.js"></script>
</body>

</html>