<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../../slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="../../slick/slick-theme.css" />
  <link rel="stylesheet" href="../../css/mycss/ranking.css">
  <title>Document</title>
</head>

<body>
  <div class="sub-header ">
    <img src="../../img/ranking/header-ranking.jpg" alt="">
    <div class="swipe-tabs">
      <div class="swipe-tab">Soluciones</div>
      <div class="swipe-tab">Trofeo</div>
      <div class="swipe-tab">Examenes</div>
    </div>
  </div>
  <div class="main-container">
    <div class="swipe-tabs-container ">
      <div class="swipe-tab-content">
        <div class="item-usuario">
          <p class="numero">01</p>
          <figure>
            <img src="../../img/ranking/boy.png" alt="">
            <figcaption>Nombre Apellido</figcaption>
          </figure>
          <p class="cantidad">15</p>
        </div>
      </div>
      <div class="swipe-tab-content">Tab 2</div>
      <div class="swipe-tab-content">Tab 3</div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../slick/slick.min.js"></script>
  <script src="../../js/ranking.js"></script>
</body>

</html>