<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/mycss/style.css">
  <link rel="stylesheet" href="../../css/mycss/examenes.css">

  <title>Document</title>
</head>

<body>
  <div class="navbar">
    <div class="btn-sidebar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <p id="titulo-contenedor">Modo</p>
  </div>

  <div id="sidebar" class="sidebar">
    <div class="sidebar-head">
      <img src="../../img/home/user.png" alt="">
      <p class="sidebar-user-name">Cachimbo</p>
      <p class="sidebar-user-email">cachimbo@gmail.com</p>
    </div>

    <div class="sidebar-body">
      <div class="list-group">
        <div class="item-sidebar">
          <img src="../../img/home/test.png" alt="">
          <span class="title-course">Exámenes</span>
        </div>
        <div class="item-sidebar">
          <img src="../../img/home/rankingmenu.png" alt="">
          <span class="title-course">Ranking</span>
        </div>
        <div class="item-sidebar">
          <img src="../../img/home/teacher.png" alt="">
          <span class="title-course">Tutorias</span>
        </div>
        <div class="item-sidebar">
          <img src="../../img/home/video-player.png" alt="">
          <span class="title-course">Video tutoriales</span>
        </div>
        <div class="item-sidebar">
          <img src="../../img/home/video-player.png" alt="">
          <span class="title-course">Nosotros</span>
        </div>
        <div class="item-sidebar item-salir">
          <img src="../../img/home/logout.png" alt="">
          <span class="title-course">Cerrar sesión</span>
        </div>
      </div>
    </div>
  </div>


  <div class="options-student contenedor">

    <div class="item-student examen-option" id="modo-option">
      <img src="../../img/examenes/exam.png" alt="">
      <div class="title-item">
        <span class="title-option">Exámenes de Admisión</span>
        <p>Selecciona una universidad y luego el examen de un determinado ciclo académico</p>
      </div>
    </div>
    <div class="item-student ranking-option" id="modo-option">
      <img src="../../img/examenes/ranking.png" alt="">
      <div class="title-item">
        <span class="title-option">Preguntas Aleatorias</span>
        <p>Resuelve un examen con preguntas de cualquier universidad del curso de tu preferencia</p>
      </div>
    </div>

  </div>
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/dynamic.js"></script>
</body>

</html>
