<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/mycss/examenes.css">

  <title>Document</title>
</head>

<body>
  <div class="navbar">
    <div class="btn-back">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <P>UNMSM</P>
  </div>

  <div class="container-pregunta contenedor">
    <div class="marcador-pregunta">
      <p>1/20</p>
      <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>00:00:00
      </p>
    </div>
    <section class="pregunta">
      <h2>Habilidad Matemática</h2>
      <p>Una balanza de dos platillos se encuentra
        equilibrada. En uno de los platillos hay tres
        dados y una canica; en el otro platillo hay dos
        dados, dos canicas y un borrador que pesa 30 g.
        Los cinco dados tienen el mismo peso y las
        tres canicas también pesan lo mismo. Además,
        los nueve objetos pesan, juntos, medio kilo.
        ¿Cuántos gramos pesan todos los dados
        juntos?</p>

      <ul>

        <li class="item-pregunta">
          <input type="radio" id="pregunta" name="pregunta" value="">
          <label class="item2-pregunta" for="pregunta">350 g</label>
        </li>
        <li class="item-pregunta">
          <input type="radio" id="pregunta1" name="pregunta" value="">
          <label class="item2-pregunta" for="pregunta1">160 g</label>
        </li>
        <li class="item-pregunta">
          <input type="radio" id="pregunta2" name="pregunta" value="">
          <label class="item2-pregunta" for="pregunta2">200 g</label>
        </li>
        <li class="item-pregunta">
          <input type="radio" id="pregunta3" name="pregunta" value="">
          <label class="item2-pregunta" for="pregunta3">400 g</label>
        </li>
        <li class="item-pregunta">
          <input type="radio" id="pregunta4" name="pregunta" value="">
          <label class="item2-pregunta" for="pregunta4">500 g</label>
        </li>

      </ul>
      <div class="btn-decision">
        <button class="btn-responder" id="btn-responder">Responder</button>
        <button class="btn-siguiente" id="btn-siguiente">Siguiente</button>
      </div>
    </section>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/dynamic.js"></script>
</body>

</html>
