<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/mycss/style.css">
  <link rel="stylesheet" href="../../css/mycss/examenes.css">

  <title>Document</title>
</head>

<body>
  <div class="navbar ">
    <p class="header-terminado">EXAMEN TERMINADO</p>
  </div>

  <div class="container-resultado contenedor">
    <figure>
      <img src="../../img/examenes/happy.png" alt="">
    </figure>
    
    <div class="items-resultado">
      <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>03:00:00
      </p>
      <p >
        <i style="color:green" class="fa fa-check" aria-hidden="true"></i>xx Correctas
      </p>
      <p >
        <i style="color: red" class="fa fa-times" aria-hidden="true"></i>xx Incorrectas
      </p>
      <p >
        <i style="color: blue" class="fa fa-long-arrow-right" aria-hidden="true"></i>xx No contestadas
      </p>
    </div>
    
    <div class="btn-resultado">
      <button>
        <i class="fa fa-repeat volver-mapa" aria-hidden="true"></i>
      </button>
      <button>
        <i class="fa fa-home volver-home" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/dynamic.js"></script>
</body>

</html>