<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videollamadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/mycss/style.css">

    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="btn-volver"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Tutoriales</span>
        </div>
    </div>
    
    <div class="header-videotutorial">
      <input class="form-control" type="search" placeholder="Buscar curso" aria-label="Search">
      <button class="btn btn-outline-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

    <div id="xd" class="video-options">
        <div id="1" class="item-course">
            <img src="../../assets/img/curso-algebra.png" alt="">
            <span class="title-course">Algebra</span>
        </div>
        <div id="2" class="item-course">
            <img src="../../assets/img/curso-aritm.png" alt="">
            <span class="title-course">Aritmética</span>
        </div>
        <div id="3" class="item-course">
            <img src="../../assets/img/curso-econom.png" alt="">
            <span class="title-course">Economía</span>
        </div>
        <div id="4" class="item-course">
            <img src="../../assets/img/curso-fisica.png" alt="">
            <span class="title-course">Física</span>
        </div>
        <div id="5" class="item-course">
            <img src="../../assets/img/curso-raz.png" alt="">
            <span class="title-course">Raz. Matemático</span>
        </div>
        <div id="6" class="item-course">
            <img src="../../assets/img/curso-quimica.png" alt="">
            <span class="title-course">Química</span>
        </div>
        <div id="7" class="item-course">
            <img src="../../assets/img/curso-lenguge.png" alt="">
            <span class="title-course">Lenguaje</span>
        </div>
        <div id="8" class="item-course">
            <img src="../../assets/img/curso-literat.png" alt="">
            <span class="title-course">Literatura</span>
        </div>
    </div>
    
    <div id="snackbar"></div>
    
    <script src="../../assets/js/dynamic.js"></script>
</body>
</html>